@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --blue-900: hsl(209, 23%, 22%);
    --blue-950: hsl(207, 26%, 17%);
    --grey-950: hsl(200, 15%, 8%);
    --grey-400: hsl(0, 0%, 50%);
    --grey-50: hsl(0, 0%, 99%);
    --white: hsl(0, 100%, 100%);

    --font-nunito: 'Nunito Sans', sans-serif;
}